<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Registro Estudiantes TopEducation</title>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="http://localhost:8090/">Preuniversitario TopEducation</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" th:href="@{/estudiantes}">Registro Estudiantes</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/ingreso_estudiante}">Ingresar Estudiante</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/cuotas}">Cuotas</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/generar_cuota}">Generar Cuota</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/subir_notas}">Subir notas</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/reportes}">Reporte Estudiante</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1>Generar Cuotas</h1>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-light">
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Rut</th>
            <th>Tipo colegio procedencia</th>
            <th>Año egreso</th>
            <th>Cantidad cuotas</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="estudiante : ${estudiantes}">
            <td th:text="${estudiante.nombres}">Nombres</td>
            <td th:text="${estudiante.apellidos}">Apellidos</td>
            <td th:text="${estudiante.rut}">Rut</td>
            <td th:text="${estudiante.tipo_colegio_proc}">Tipo colegio procedencia</td>
            <td th:text="${estudiante.egreso}">Año egreso del colegio</td>
            <td th:text="${estudiante.cantidad_cuotas}">Cantidad cuotas</td>

            <td>
                <a th:href="@{/actualizar_cuota/{id}(id=${estudiante.rut})}" class="btn btn-info">Decidir cuotas</a>

                <form action="/generar_cuota" method="post">
                    <input type="hidden" name="id" th:value="${estudiante.rut}">
                    <button type="submit">Generar Cuotas</button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>

