<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Preuniversitario TopEducation</title>
</head>
<body>
<div>
    <h1>Biienvenido a TopEducation</h1>
    <style>{
            font-size: 60pt;
            background-repeat: repeat-x;
            background-size: 8ch 100%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: linear-gradient(to right, red 0ch, Yellow 1ch, Indigo 1ch, green 2ch, Blue 2ch, #2f732e 3ch, Orange 3ch, Orange 4ch, Violet 4ch, Violet 5ch, Green 5ch, Green 6ch, #5b2979 6ch, Red 7ch);
        }
    </style>
    <div>
        <label for=1/>Escribe tu nombre </label><input type="text" id=1/>
        <label for=2/>Escribe tu fecha de nacimiento</label><input type="date" id=2/>
        <label for=3>Tipo de pago</label>
        <select id=3>
            <option>Contado</option>
            <option>Cuotas</option>
        </select>
    </div>

</div>
</body>
</html>
